.heading {
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 65px;
  margin-bottom: 0;
  color: #1B1D58;
}
.mainContainer{
  background: #F5F5F5;
  height: 100vh;
}
.contentContainer{
  display: flex;
  justify-content: space-around;
}
@media (max-width: 500px){
  .contentContainer{
    display: flex;
    flex-direction: column;
  }
  .formContainer{
    order:2
  }
}
.formContainer, .menuItem, .totalContainer{
  padding: 10px;
  margin: 30px;
  filter: drop-shadow(0px 0px 11px rgba(0, 0, 0, 0.2));
  background: #ffffff;
  box-shadow: 5px 3px 60px rgba(0, 0, 0, 0.07);
  border-radius: 15px;
}
.total{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.total p, .total h5{
  margin: 0;
  padding: 0
}

.cartBtn {
  background: #5469d4;
  font-family: Arial, sans-serif;
  color: #ffffff;
  border-radius: 4px;
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}

.cartBtn:hover {
  filter: contrast(115%);
}

.cartBtn:disabled {
  opacity: 0.5;
  cursor: default;
}
