.mainContainer{
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 15px;
}
.mainContainer input{
    border-radius: 4px;
    padding: 0 15px;
    width: 100%;
}
.fillBtn, .submitBtn{
    border-radius: 4px;
}
.submitBtn{
    color: white;
    background-color: #F25C04
}