.overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
}
.modalContainer{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    background-color: rgba(0,0,0,0.5);
}
.closeBtn{
    align-self: end;
    cursor: pointer;
    margin-right: 20px;
}
.imgContainer{
    display: flex;
    justify-content: space-evenly;
}
.modalImg{
    min-width: 10px;
    max-width: 70px;
}
.imgDiv{
    border-radius: 10px;
    overflow: hidden;
}