
.seasoningsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.seasoning{
    height: 300px;
    cursor: pointer;
}
.seasoning:hover{
    border: 2px solid black
}
.seasoningTr{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 11px rgba(0, 0, 0, 0.2));
    background: #FFFFFF;
    box-shadow: 5px 3px 60px rgba(0, 0, 0, 0.07);
    border-radius: 15px;
    overflow: hidden;
}
.heading{
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: underline;
}
@media (max-width: 500px) {
    .seasoningDescription{
        display: none;
    }
    .seasoningsContainer{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .seasoning{
        height: 200px;
    }
    .seasoningTr{
        justify-content: center;
    }
}